* {
  margin: 0;
  padding: 0;
}
header {
  background-color: rgba(229, 84, 115, 0.1);
}
.contain {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  max-width: 1440px;
  margin: 0 auto;
}
.head-content * {
  margin-bottom: 32px;
  max-width: 476px;
}
.title {
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 80px;
  font-weight: 800;
  line-height: 96px;
  letter-spacing: 0%;
  text-align: left;
}
.paragraph {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}

.btn {
  border-radius: 8px;
  background: rgb(229, 84, 115);
  padding: 20px 25px;
  border: none;
  color: white;
  cursor: pointer;
  transition: all 2s;
}
button:hover {
  background: purple;
}
.header-img img {
  width: 100%;
  vertical-align: middle;
}

/* feature section */

.feature {
  width: 75%;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 178px;
}
.flowers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.feature-content {
  text-align: center;
  max-width: 500px;
  margin: 20px auto;
}
.feature-content * {
  margin-bottom: 20px;
}
.feature-head {
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
}
.feature-p {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}
.img1 img {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  padding: 30px 25px 0;
  display: flex;
  align-items: end;
  height: 500px;
}
.img2 img {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  padding: 30px 25px 0;
  display: flex;
  align-items: end;
  height: 500px;
}
.img3 img {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  padding: 30px 25px 0;
  display: flex;
  align-items: end;
  height: 500px;
}
.flowers p {
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0%;
  text-align: center;
  text-decoration-line: underline;
}
.flowers * {
  margin-bottom: 10px;
}

/* Hot -deal */
.Hot-deal {
  width: 75%;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 150px;
}

.deal-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.deal-content {
  width: 550px;
  margin: 0 auto;
}
.deal-content-h {
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
}
.deal-content-p {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
}
.deal-content * {
  margin-bottom: 10px;
}

/* latest */
.latest {
  margin: 0 auto;
  width: 75%;
  max-width: 1440px;
  border: 2px solid black;
  margin-top: 120px;
  margin-bottom: 30px;
}
.latest-content {
  text-align: center;
  margin: 0 auto;
}
.latest-content-p {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
}
.latest-content-h {
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0%;
}
.latest-container {
  background-image: url("./images/bg9.png");
  padding: 120px 0;
}
.latest-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

}
input{
    line-height: 50px;
    outline: none;
    padding: 0 30px;
    border: none;
    background:rgb(229, 84, 115);;
    font-size: 16px;

}

.latest-content * {
    margin-bottom: 15px;
}

/* footer */
.footer-content{
    background-color: black;
    color: white;
    text-align: center;
    height: 200px;
    padding-top: 128px;
}
.footer-head{
    font-family: Lato;
font-size: 48px;
font-weight: 800;
line-height: 58px;
}
.footer-p{
    color: rgba(255, 255, 255, 0.9);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
}
footer>p{
    color: rgba(255, 255, 255, 0.4);
font-family: Lato;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
}
.footer-content *{
    margin-top: 10px;

}